/**
  @Author 淮城一只猫
  @Date 2019-08-09
  @Name 全局样式
 */
.medium-zoom-image--opened {
  z-index: 3;
}

.medium-zoom-overlay {
  background-color: #fff!important;
  z-index: 2;
}

[data-theme="dark"] {
  .medium-zoom-overlay {
    background-color: #080808!important;
  }
}
