/**
  @Author 淮城一只猫
  @Date 2019-08-09
  @Name 模板头部
 */

.site-warp {
  .site-header {

    nav.navbar {
      background-color: #fff;
      padding: 12px 0;
      box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .15);
      transition: all 250ms ease 0ms;

      &.top-nav {
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: transparent;
        box-shadow: none;

        nav.navbar {
          .navbar-brand {
          }

          .navbar-toggler {
          }

          .navbar-collapse {
            .navbar-nav {
              .nav-item {
                &.active {
                  .nav-link {
                  }
                }

                .nav-link {
                }
              }
            }
          }
        }
      }

      .navbar-brand {
        font-size: 22px;
      }

      .navbar-toggler {
        outline: none;
      }

      .navbar-collapse {
        .navbar-nav {
          .nav-item {
            padding: 0 10px;

            &.active {
              .nav-link {
              }
            }

            .nav-link {
            }
          }
        }
      }
    }
  }
}

// 小于 576px
@media (max-width: 575.98px) {
  .site-warp {
    .site-header {
      nav.navbar {
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }
}

// 576px 以上
@media (min-width: 576px) and (max-width: 767.98px) {
}

// 768px 以上
@media (min-width: 768px) and (max-width: 991.98px) {
}

// 992px 以上
@media (min-width: 992px) and (max-width: 1199.98px) {
}

// 1200px 以上
@media (min-width: 1200px) {
}
