/**
  @Author 淮城一只猫
  @Date 2019-08-09
  @Name 页头欢迎描述
 */

.site-warp {
  .site-hero {
    background-size: cover;
    background-position: center center;
    position: relative;
    //animation-duration: .8s;
    //animation-name: zoomOut;
    //animation-timing-function: ease-out;

    &.responsive-title-img {

    }

    &.responsive-title-no-img {
      &::after {
        background-image: linear-gradient(-180deg, rgba(102, 153, 204, 1) 0, rgba(102, 204, 204, 1) 100%);
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }

    .hero-content {
      text-align: center;
      color: #fff;
      z-index: 1;
      position: relative;
      margin: 0 auto;
      padding: 135px 0 185px 0;

      .site-name {
        font-size: 3rem;
        margin-bottom: 0;
        //animation-duration: .8s;
        //animation-fill-mode: both;
        //animation-name: fadeInDown;
        //animation-timing-function: ease-out;
        //animation-delay: 250ms;
      }

      .site-description {
        margin: 35px auto 0 auto;
        max-width: 768px;
        font-size: 17px;
        line-height: 28px;
        font-weight: 400;
        //animation-duration: .8s;
        //animation-fill-mode: both;
        //animation-name: fadeInDown;
        //animation-timing-function: ease-out;
        //animation-delay: 350ms;
      }
    }
  }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .site-warp {
    .site-hero {
      .hero-content {
        .site-name {
          font-size: 34px!important;
        }
        .site-description {
          margin: 25px auto 0;
        }
      }
    }
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  .site-warp {
    .site-hero {
      .hero-content {
        .site-name {
          font-size: 44px;
        }
      }
    }
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {

}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {

}
