/**
  @Author 淮城一只猫
  @Date 2019-08-09
  @Name 主题文章/页面正文样式
 */

.site-warp {
  .site-main {
    z-index: 1;

    article {
      width: 100%;

      .post-content {
        p {
          font-family: PingFang SC, Lantinghei SC, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
          line-height: 1em/1.8;
          font-weight: normal;

          a {
            border-bottom: 1px solid #000;
          }
        }

        h3 {
          &::before {
            content: '#';
            font-size: 1.5rem;
            margin-right: 0.5rem;
            color: #000;
          }
        }

        figure {
          img {
            max-width: 100%;
          }
          figcaption {
            text-align: center;
            font-weight: lighter;
            color: rgba(0,0,0,.5);
            padding-top: 0.5rem;
            font-style: italic;
          }
        }

        img {
          max-width: 100%;
        }
      }
    }
  }
}
